.sidebar {
  display: block;
  width: 20%;
  height: 100%;
  // border: 1px solid black;
  border-radius: 3px;
  padding: 2rem;
  padding-top:3.8rem;
  // margin: 2rem;
  // background-color: red;
  // box-shadow: 3px -2px 38px -14px rgba(0, 0, 0, 1);
  // -webkit-box-shadow: 3px -2px 38px -14px rgba(0, 0, 0, 1);
  // -moz-box-shadow: 3px -2px 38px -14px rgba(0, 0, 0, 1);
}
