@import "../abstracts/variables";

.table-container {
  width: 100%;
  overflow-y: scroll;
  display: block;
  position: relative;
}

.table-pagos__title-header th{
  font-size: 12px;
  background-color:#ffffff;
}

.table-pagos__tbody td{
  font-size: 12px;
  padding: 0.2rem;
}