@import '../abstracts/variables';

.table-container {
  position: relative;
  display: block;
  overflow-y: scroll;
  width: 100%;
}

.table-pagos__title-header th {
  background-color: #fff;
  font-size: 12px;
}

.table-pagos__tbody td {
  padding: 0.2rem;
  font-size: 12px;
}
