// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$PrimaryColor: #ffffff;
$SecondaryColor: #04307c;
$ThirdColor: #edf2f6;

$FourthColor: #1a202d;
$PrimaryFontColor: #000000;
$SecondaryFontColor: #ffffff;
$ThirdFontColor: #04307c;

$FontHead: "Raleway", sans-serif;
$FontText: "Roboto", sans-serif;
