// ! RecoverPassword



.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem;
  border-radius: 8px;
  margin: 0;
  height: 60%;
  background-color: $PrimaryColor;
}

.password-title {
  padding: 0;
}

.password-form__content-input {
  padding: 4rem;
  text-align: center;
}

.password-paragraph {
  display: block;
  font-size: 16px;
  margin: 0 0 1rem 0;
}

.password-input {
  width: 80%;
  padding: 0.5rem;
  text-align: center;
}





// !Button
.button-send {
  background-color: $SecondaryColor;
  color: $PrimaryColor;
  border: 1px transparent;
  padding: 1rem 2rem;
  font-family: $FontHead;
  transition-duration: 300ms;
}

.button-send:hover {
  transition-duration: 500ms;
  background-color: $FourthColor;
  transform: scale(1.05);
}

.button-send:active {
  background-color: $PrimaryColor;
  color: $SecondaryColor;
  border: 1px solid $SecondaryColor;
}