@import '../abstracts/variables';
@import '../abstracts/mixins';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  margin: 0;
  padding: 0;

  // background-color: $ThirdColor;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: $FontText;
}

h1,
h2 {
  margin: 0 0 4rem;
  color: $SecondaryColor;
  font-weight: 900;
  font-family: $FontHead;
  text-align: center;
}

h1 span {
  font-weight: 400;
}

h1 {
  padding: 4rem 0 0 4rem;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $SecondaryColor;
  text-decoration: none;
}

img {
  width: 10%;
  padding-bottom: 0.5rem;
}

aside {
  padding: 3rem;
}

// !
*,
*::before,
*::after {
  box-sizing: border-box;
}

.contenedor-app {
  @include globalContainer;
}

.seccion-principal {
  @include sectionsPrimary;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
}

.table-container {
  position: relative;
  display: block;
  overflow-y: scroll;
  width: 100%;
  max-height: 400px;
  padding-right: 3px;
  border-collapse: collapse;
}

.table-container thead {
  position: sticky;
  top: 0;
  max-height: 450px;
  font-size: 18px;
  text-transform: capitalize;
}

.table-container tbody {
  max-height: 350px;
}

.table-container-total {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.table__tfooter {
  position: sticky;
  bottom: 0;
  width: 100%;
  border-color: red;
  background-color: $PrimaryColor;
  text-align: center;
}

.table__tfooter th,
.table__tfooter td {
  padding: 5px 0;
}

.table__tbody-tr-td {
  border: 5px solid white;
  font-size: 12px;
  text-align: center;
}

.table__title-header {
  top: 0;
  width: 220%;
  background-color: $PrimaryColor;
  font-size: 24px;
  text-transform: capitalize;
}

.table__title-header th,
.table-pagos__title-header th {
  width: calc(100% / 13);
  padding: 0 0.7rem;

  // background-color: red;
}

.table-container__tr {
  height: 50px;
}

.table-container__tr:nth-child(odd) {
  background-color: $ThirdColor;
}

.table-container__tr:nth-child(even) {
  // background-color: $ThirdColor;
}

.table__tbody-tr-button {
  padding: 1rem 2rem;
  border: 1px transparent;
  background-color: $SecondaryColor;
  color: $PrimaryColor;
  font-family: $FontHead;
  transition-duration: 300ms;
}

.table__tbody-tr-button:hover,
.table__tbody-tr-button:focus {
  background-color: $FourthColor;
  transition-duration: 500ms;
  transform: scale(1.05);
}

.table__tbody-tr-button:active {
  border: 1px solid $SecondaryColor;
  background-color: $PrimaryColor;
  color: $SecondaryColor;
}

.table__tbody-tr-button:hover,
.table__tbody-tr-button:focus {
}

//!Login y Recuperar Password

.form-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  height: 77vh;
  margin: 0;
  padding: 0;
  background-color: $SecondaryColor;
}

// !Form Data

.form-date {
  margin-bottom: 3rem;

  // background-color: $SecondaryColor;
  padding-top: 1rem;
}

// !Button General

.container-button {
  display: flex;

  // justify-content:center;
  justify-content: flex-end;
  padding: 0 3rem;
  padding-top: 1rem;
}

.button {
  padding: 1rem 2rem;
  border: 1px transparent;
  background-color: $SecondaryColor;
  color: $PrimaryColor;
  font-family: $FontHead;
  transition-duration: 300ms;
}

.button:hover,
.button:focus {
  background-color: $FourthColor;
  transition-duration: 500ms;
  transform: scale(1.05);
}

.button:active {
  border: 1px solid $SecondaryColor;
  background-color: $PrimaryColor;
  color: $SecondaryColor;
}
